<div class="progress-wrapper">
  <div class="time-label">
    {{ msToTime(totalTime - this.elapsedTime) }}
  </div>
  <round-progress
    [current]="totalTime - this.elapsedTime"
    [max]="totalTime"
    [color]="'#45ccce'"
    [background]="'#eaeaea'"
    [radius]="125"
    [rounded]="true"
    [stroke]="20"
    [animationDelay]="0"
  >
  </round-progress>
</div>

<div class="buttons">
  <input
    [ngModel]="inputValue"
    (keyup)="changeInput($event)"
    type="number"
    placeholder="enter number of minutes"
  />
  <button [disabled]="isStarted || inputValue <= 0" (click)="start()">
    Start
  </button>
  <button [disabled]="!isStarted" (click)="stop()">Stop</button>
  <button (click)="reset()">Reset</button>
</div>
