<div class="progress-wrapper">
  <div class="time-label">
    {{ msToTime(timeLeft) }}
  </div>
  <round-progress
    [current]="this.timeLeft"
    [max]="inputValue * 1000 * 60"
    [color]="'#45ccce'"
    [background]="'#eaeaea'"
    [radius]="125"
    [stroke]="20"
    [animationDelay]="0"
  >
  </round-progress>
</div>

<div class="buttons">
  <p>inputvalue is {{ inputValue }}</p>
  <p>elapsedTime is {{ elapsedTime }}</p>
  <p>elapsedTime is {{ timeLeft }}</p>

  <input
    [ngModel]="inputValue"
    (change)="changeInput($event)"
    type="number"
    placeholder="enter number of minutes"
  />
  <button [disabled]="isStarted || inputValue <= 0" (click)="start()">
    Start
  </button>
  <button [disabled]="!isStarted" (click)="stop()">Stop</button>
  <button [disabled]="!isStarted" (click)="reset()">Reset</button>
</div>
